body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.main-content {
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    gap: 5px;
}

li {
    list-style: none;
}

header {
    display: flex;
    justify-content: space-around;
}