body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: Roboto;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 20px;
}

ul {
    display: flex;
    gap: 15px;
    list-style: none;
    font-size: 18px;
    color: #E5E7EB;
}

header {
    display: flex;
    justify-content: center;
    gap: 150px;
}

.section2 {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: gray ;
}

.mainheading {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 0;
}

.section1, .section2 {
    background-color: #1F2937;
}

.headerlogo {
    font-size: 24px;
    color: #F9FAF8;
}

.secondarytext {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0;
}

.signup.header {
    background-color: #3882F6;
    border-radius: 8px;
    padding: 7px 27px;
    border: none;
    color: #F9FAF8;
    font-size: 15px;
}

.section4 {
    background-color: #E5E7EB;
    padding: 100px;

}

.author {
    text-align: right;
    font-weight: bolder;
    font-size: 25px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

.section5 {
    display: flex;
    justify-content: center;
    gap: 150px;
    background-color: #3882F6;
    color: #F9FAF8;
    margin: 100px;
    border-radius: 10px;
    padding: 40px;
}

h5 {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

.text {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.block {
    border-radius: 10px;
    border-color: #3882F6;
    border-width: 5px;
    border-style: solid;
    max-width: 200px;
}

.info {
    max-width: 200px;
}

.blocks {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

h2 {
    margin-top: 0;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.section3 {
    text-align: center;
    padding: 70px;
}

.signup.bottom {
    background-color: #3882F6;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: #E5E7EB;
    color: #E5E7EB;
    padding: 0px 30px;
    font-size: 15px;
}

.signup-message {
    margin: 0;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}